[Unit]
Description=Optimizes Acer Laptop power usage

[Service]
ExecStart=/bin/bash /home/max/src/miscellaneous/scripts/optimize-battery.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
