insmod gfxterm
insmod all_video
insmod png
insmod font

insmod efi_gop
insmod efi_uga

insmod part_msdos
insmod part_gpt
insmod gzio
insmod ntfs
insmod ext2

insmod play

loadfont unicode
loadfont $prefix/terminus16.pf2

terminal_input console
terminal_output gfxterm

set timeout_style=menu
set timeout=30
set gfxmode=auto

set color_normal=light-gray/black
set color_highlight=white/black

menuentry "Linux Mint 18.2 KDE x64" {
	# Pokemon Heal
	play 1600 988 7 0 1 988 7 0 1 988 3 0 1 831 3 0 1 1319 3 0 1
	echo 'Mounting image partition ...'
	search --set=root --fs-uuid 40BEFB693EA3672D
	set isofile="/boot/isos/linuxmint-18.2-kde-64bit.iso"
	echo 'Creating ISO loopback ...'
	loopback loop $isofile
	echo 'Loading kernel ...'
	linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash --
	echo 'Loading initial ramdisk ...'
	initrd (loop)/casper/initrd.lz
}

menuentry "Kali Linux 2017.2 Gnome x64" {
	# Pokemon Heal
	play 1600 988 7 0 1 988 7 0 1 988 3 0 1 831 3 0 1 1319 3 0 1
	echo 'Mounting image partition ...'
	search --set=root --fs-uuid 40BEFB693EA3672D
	set isofile="/boot/isos/kali-linux-2017.2-amd64.iso"
	echo 'Creating ISO loopback ...'
	loopback loop $isofile
	echo 'Loading kernel ...'
	linux (loop)/live/vmlinuz-4.12.0-kali1-amd64 boot=live find-iso=$isofile components splash username=root hostname=kali
	echo 'Loading initial ramdisk ...'
	initrd (loop)/live/initrd.img-4.12.0-kali1-amd64
}

menuentry "Reboot" {
	# Legend of Zelda Discover Item
	play 800 659 3 0 1 698 3 0 1 740 3 0 1 784 11 0 1
	reboot
}

menuentry "Shutdown" {
	# Legend of Zelda Discover Item
	play 800 659 3 0 1 698 3 0 1 740 3 0 1 784 11 0 1
	halt
}

for isofile in $prefix/isos/kali-linux-2017.?-*.iso; do
  if [ -e "$isofile" ]; then
    regexp --set=isoname "$isopath/(.*)" "$isofile"
    submenu "$isoname (custom) ->" "$isofile" {
      iso_path="$2"
      loopback loop "$iso_path"
      menuentry "Live" {
        bootoptions="findiso=$iso_path boot=live components splash username=root hostname=kali"
        linux (loop)/live/vmlinuz $bootoptions
        initrd (loop)/live/initrd.img
      }
      menuentry "Live (failsafe)" {
        bootoptions="findiso=$iso_path boot=live components username=root hostname=kali memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal"
        linux (loop)/live/vmlinuz $bootoptions
        initrd (loop)/live/initrd.img
      }
      menuentry "Live (forensic mode)" {
        bootoptions="findiso=$iso_path boot=live components splash username=root hostname=kali noswap noautomount"
        linux (loop)/live/vmlinuz
        initrd (loop)/live/initrd.img
      }
      menuentry "Live USB Persistence (check kali.org/prst)" {
        bootoptions="findiso=$iso_path boot=live noconfig=sudo username=root hostname=kali persistence"
        linux (loop)/live/vmlinuz
        initrd (loop)/live/initrd.img
      }
      menuentry "Live USB Encrypted Persistence (check kali.org/prst)" {
        bootoptions="findiso=$iso_path boot=live persistent=cryptsetup persistence-encryption=luks noconfig=sudo username=root hostname=kali persistence"
        linux (loop)/live/vmlinuz
        initrd (loop)/live/initrd.img
      }
      menuentry "$iso_path" {
	halt
      }
    }
  fi
done

# Mushroom Powerup Chiptune
#play 1750 523 1 392 1 523 1 659 1 784 1 1047 1 784 1 415 1 523 1 622 1 831 1 622 1 831 1 1046 1 1244 1 1661 1 1244 1 466 1 587 1 698 1 932 1 1195 1 1397 1 1865 1 1397 1

# Portal This Was a Triumph
sleep 0.5
play 1200 1047 3 0 1 988 3 0 1 880 3 0 1 880 3 0 1 988 3 0 1
