[Desktop Entry]
Name=Suckless Terminal
Comment=Use this terminal emulator for a simple and lightweight experience
Exec=st -g=120x36+200+200
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=Terminal;Shell;Command Line;Suckless;
